*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    font-size: 16px;
}

h1{
    font-size:36px;
}

.add_question {
    display: flex;
    flex-direction: row;
}

.answer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 50px;

}

.single {
    border: 1px solid black;
    margin: 20px;
    height: 5em;
    width: 5em;
}

#green {
    background-color: greenyellow;
}

#red {
    background-color: orangered;
}

#yellow {
    background-color: yellow;
}