{% include header.html %}
<div class="wrapAll" id="wrap">
    
        <h1 id="start"  class="animation fullscreen" onclick="showHide()"><a href="#">START </a></h1>
   
</div>
<!--<div id="to_show" class="formu">-->
<h2>Choose your quiz</h2>
<table>
{% for item in quizes %}
    <tr>
    {% for i in item %}
        <td>{{i}}</td>
        {% end %}
    </tr>
    {% end %}
</table>
    <form class="add_question" name="quiz_id" action="one" method="get">
        <div class="form-block">
            <label for="user_choice">Your choice:</label>
            <input type="text" name="user_choice" id="user_choice">
        </div>
            <input type="text" name="answer" id="answer" value="1">
</div>
        <div class="hidden">
        </div>
        <input type="submit" value="Submit" id="submit">
    </form>
<p></p>
<p></p>
<script src="../static/js.js"></script>


{% include footer.html %}